*.pyc
*.csv
*.txt
*/creds.py
*.xml
*.png
*.jpeg
*.jpg
*.gif
*.log
*.mp4
*.html
*.wav
*.old
*.json
AutomatedBackups/path.py
AutomatedBackups/TaskSchedulerStarter.bat
./GroupMe/Groups/*
GroupMe/GroupMePresenterHelp.py
GroupMe/GroupMePresenter.py
SpotiPy/secrets.py
creds.py